@model Record

@{
    ViewData["Title"] = "Create";
}

@*<h1>Create</h1>*@
@if (ViewBag.GenreId != null) {<h1>Додавання нового альбома до жанру @ViewBag.GenreName</h1>}
@if (ViewBag.ArtistId != null) {<h1>Додавання нового альбома до виконавця @ViewBag.ArtistName</h1>}
@if (ViewBag.LabelId != null) {<h1>Додавання нового альбома до лейблу @ViewBag.LabelName</h1>}
@if (ViewBag.CountryId != null) {<h1>Додавання нового альбома до країни @ViewBag.CountryName</h1>}

<h4>Record</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="ArtistId" class="control-label"></label>
                <input asp-for="ArtistId" class="form-control" />
                <span asp-validation-for="ArtistId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quality" class="control-label"></label>
                <input asp-for="Quality" class="form-control" />
                <span asp-validation-for="Quality" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Information" class="control-label"></label>
                <input asp-for="Information" class="form-control" />
                <span asp-validation-for="Information" class="text-danger"></span>
            </div>



            @if (ViewBag.GenreId != null)
            {
                <input type="hidden" value="@ViewBag.GenreId" name="some_id" />
                <input type="hidden" value="genre" name="source" />
            }

            @if (ViewBag.ArtistId != null)
            {
                <input type="hidden" value="@ViewBag.ArtistId" name="some_id" />
                <input type="hidden" value="artist" name="source" />
            }

            @if (ViewBag.LabelId != null)
            {
                <input type="hidden" value="@ViewBag.LabelId" name="some_id" />
                <input type="hidden" value="label" name="source" />
            }

            @if (ViewBag.CountryId != null)
            {
                <input type="hidden" value="@ViewBag.CountryId" name="some_id" />
                <input type="hidden" value="country" name="source" />
            }



            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Повернутися до списку</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
