@model IEnumerable<Record>

@if (ViewBag.GenreId != null)
{
    ViewData["Title"] = "Альбоми за жанром";
}

@if (ViewBag.ArtistId != null)
{
    ViewData["Title"] = "Альбоми виконавця";
}


@*<h1>Index</h1>*@
<h1>Альбоми @ViewBag.GenreName @ViewBag.ArtistName @ViewBag.LabelName @ViewBag.CountryName</h1>

@if (ViewBag.GenreId != null)
{
    @Html.ActionLink("Додати новий альбом", "Create", new { some_id = ViewBag.GenreId, source = "genre" })
    ;
}
@if (ViewBag.ArtistId != null)
{
    @Html.ActionLink("Додати новий альбом", "Create", new { some_id = ViewBag.ArtistId, source = "artist" })
    ;
}

@*
@if (ViewBag.LabelId != null)
{
    @Html.ActionLink("Додати новий альбом", "Create", new { some_id = ViewBag.LabelId, source = "label" })
    ;
}
@if (ViewBag.CountryId != null)
{
    @Html.ActionLink("Додати новий альбом", "Create", new { some_id = ViewBag.CountryId, source = "country" })
    ;
}
*@

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.ArtistId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Information)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.ArtistId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Information)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Змінити</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                    @if (ViewBag.GenreId != null)
                    {
                        @Html.ActionLink("Видалити", "Delete", new {id = @item.Id, some_id = ViewBag.GenreId, source = "genre"})
                    }
                    @if (ViewBag.ArtistId != null)
                    {
                        @Html.ActionLink("Видалити", "Delete", new {id = @item.Id, some_id = ViewBag.ArtistId, source = "artist"})
                    }
                    @if (ViewBag.LabelId != null)
                    {
                        @Html.ActionLink("Видалити", "Delete", new {id = @item.Id, some_id = ViewBag.LabelId, source = "label"})
                    }
                    @if (ViewBag.CountryId != null)
                    {
                        @Html.ActionLink("Видалити", "Delete", new {id = @item.Id, some_id = ViewBag.CountryId, source = "country"})
                    }
                </td>
        </tr>
}
    </tbody>
</table>
