@model IEnumerable<Record>

@{
    ViewData["Title"] = "Альбоми за жанром";
}

@*<h1>Index</h1>*@
<h1>Альбоми за жанром @ViewBag.GenreName </h1>

<p>
    @*<a asp-action="Create">Додати новий</a>*@
    @*<a asp-action="Create" asp-route-id="@ViewBag.GenreId">Додати новий альбом</a>*@
    @Html.ActionLink("Додати новий альбом", "Create", new {GenreId = ViewBag.GenreId})
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.ArtistId)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Information)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.ArtistId)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Information)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Змінити</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                @*<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>*@
                @Html.ActionLink("Видалити", "Delete", new {id = @item.Id, GenreId = ViewBag.GenreId})
            </td>
        </tr>
}
    </tbody>
</table>
