@model IEnumerable<MusBase.Models.Country>

@{
    ViewData["Title"] = "Index";
}

<h1>Країни</h1>

<p>
    <a asp-action="Create">Додати нову</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Змінити</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Деталі</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>




<html>
<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        google.charts.load('current', { 'packages': ['geochart'] });
        google.charts.setOnLoadCallback(drawRegionsMap);

        function drawRegionsMap() {
            $.get('/api/Chart/JsonData_CountryRec', function (JsonData_CountryRec) {
                var data = google.visualization.arrayToDataTable(JsonData_CountryRec, false);
                var options =
                {
                    //title: "Співвідношення кількості альбомів по країнах",
                    //width: 500,
                    //height: 400,
                    //backgroundColor: 'white'
                };
                var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));
                chart.draw(data, options);
            })
        }
    </script>
</head>
<body>
    <div id="regions_div" style="width: 500px; height: 400px;"></div>
</body>
</html>


<p>
    <a asp-controller="Home" asp-action="Index"><button class="btn btn-primary">На головну</button></a>
</p>